.flex {
    display: flex;
}

body {}

.flex-justify {
    justify-content: center;
}

.flex-align {
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0 !important;
}

input {
    border: none;
}

input[type="text"] {
    height: 20px;
}



.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.collection-des {
    top: 55%;
    color: #fff;
    left: 10%;
}

.collection-des-header {
    font-size: 38px;
    letter-spacing: 3px;
}

.collection-des-sub {
    font-size: 15px;
    max-width: 410px;
}

.p7 {
    padding: 0 7%;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.w80 {
    width: 80%;
}

.w20 {
    width: 20%;
}

.h90 {
    height: 90%;
}

.h95 {
    height: 95%;
}

.w33 {
    width: calc(100% / 3);
}

.w66 {
    width: calc(100% / 3 * 2);
}

.boxshadow {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}